<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Coding/Automation Project/TESTNG DEMO 2/Maven project for rest assured/RestAssuredIntro">
        <classes>

            <class name="tests.GetAndPostExamples"/>
        </classes>
    </test>
</suite>